
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html {
    font-family: 'Lato', sans-serif;
}

.container {
    height: 300px;
    width: 300px;
    border: 1px solid rgb(4, 4, 90);
    border-radius: 5px;
    margin: 10rem auto;
    text-align: center;
    background: linear-gradient(rgba(63, 63, 121, 0.637), rgba(0, 0, 0, 0.473)),
    url('../images/1.jpg');
    background-size: cover;
    background-position: center;

    
}

.container > input, .container button {
    display: block;
    margin: 1rem auto;
}

.container button {
    width: 5rem;
    padding: 0.3rem;
    color: aliceblue;
    background-color: rgba(36, 36, 75, 0.712);
}

.container h3 {
    margin: 2rem;
    color: aliceblue;
    text-transform: capitalize;

}
.container p {
    color: aliceblue;
    font-size: 1.5rem;
}